/*_____________________________________________________________*/

/* BASIC SETUP */
/*_____________________________________________________________*/

* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom:1;
}

.clearfix:after {
    content:'.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*_____________________________________________________________*/

/* REUSABLE COMPONENT */
/*_____________________________________________________________*/

section {
    padding: 80px 0;
    
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
padding: 1%;
}

/*_____________________________________________________________*/

/* HEADER */
/*_____________________________________________________________*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(img/foodbackground-min.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/foodbackground-min.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    float: left;
    width: auto;
    height:100px;
    margin-top: 20px;
}
.logo-black{
    display: none;
    float: left;
    width: auto;
    height:50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section-meals h2 {
    display: none;
}
/* main navi */

.main-nav {
    float: right; 
    list-style: none;  
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0px;   
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;   
}

/* sticky navi */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;  
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: 16px 0px;   
}

.sticky .logo { display: none;}
.sticky .logo-black {
    display: block;
}
.hero-text-box {
    position:absolute;
    width:1140px;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%); 
}

/* Mobile Navi */

.mobile-nav-icon {
    float: right;
    cursor: pointer;
    display: none;
    margin-top: 30px;
    
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}
/*_____________________________________________________________*/

/* SECTION FEATURES */
/*_____________________________________________________________*/

.section-features .long-copy{
   
    margin-bottom: 30px;
}

/*_____________________________________________________________*/

/* MEAL SECTION */
/*_____________________________________________________________*/

.section-meals {
    padding: 0;
}
.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    float: left;
    width: 25%;
    display: block;
}

.meal-photo{
    width: 100%;
    margin:0;
    overflow: hidden;
    background-color: #000;

}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}

/*_____________________________________________________________*/

/* HOW IT WORKS SECTION */
/*_____________________________________________________________*/

.secton-steps{
    background-color: #f4f4f4;    
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
    
}

.app-screen{
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    width: 55px;
    height: 55px;
    border: 1px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    margin-right: 25px;
    display: inline-block;
    float: left;
    padding-right: 3%;
    font-size: 150%;
    padding: 5px;
    color: #e67e22;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited{
    border-bottom: none;
}
/*_____________________________________________________________*/

/* cities  */
/*_____________________________________________________________*/


.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.city-feature {
    margin-bottom: 5px;
}

/*_____________________________________________________________*/

/* section testimonial  */
/*_____________________________________________________________*/


.section-testimonial {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.8))), url(img/foodies-background-min.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/foodies-background-min.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.section-testimonial h2 {
     color: #fff;
}

blockquote {
    font-style: italic;
    line-height: 145%;
    padding: 2%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left:-3px;
}

cite img {
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
    height: 45px;
}

cite{
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

/*_____________________________________________________________*/

/* section Plan  */
/*_____________________________________________________________*/

.section-plan {
    background-color:#f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 2px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    
}

.plan-box ul {
    list-style: none;
}

.plan-box div{
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
}

.plan-price {
    font-size: 300%;
    margin-bottom:10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price-meal {
    font-size: 80%;
    
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
    color: #e67e22;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.plan-box div:last-child {
    border-bottom: none;
    text-align: center;
}

.plan-box ul li {
    padding: 5px 0;
}

/*_____________________________________________________________*/

/* Form  */
/*_____________________________________________________________*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    border: 1px solid #ccc;
}

textarea {
    height:100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/*_____________________________________________________________*/

/* Footer  */
/*_____________________________________________________________*/

footer {
    background-color: #333;
    padding: 50px;
}

.footer-nav {
    list-style: none;
    float:left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border:0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.cocial-links li a:link,
.social-links a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}


.ion-social-googleplus:hover {
    color: #dd4b39;
}


.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    text-align: center;
    color: #888;
    margin-top: 20px;
    font-size: 90%;
}

/*_____________________________________________________________*/

/* Animations  */
/*_____________________________________________________________*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity:0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
} 

/*------- HEADINGS -------*/

h1,
h2,
h3{
    text-transform: uppercase;
    font-weight: 300;

}

h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    margin-bottom: 20px;
    margin-top:0;
    letter-spacing: 1px;


}

h2{
    color: #555;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    margin-bottom: 15px;
    font-size:110%;
}


h2:after{
    width: 100px;
    background-color: #e67e22;
    margin: 0 auto;
    content: "";
    display: block;
    height: 2px;
    margin-top: 30px;
}

/*------- Paragraph -------*/

.long-copy{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
    word-spacing: 1px;
}

.box p{
    font-size: 90%;
}

/*------- link -------*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}

/*------- BUTTONS -------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color:#e67e22;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    color:#fff;
    border:1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border:1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
    color:#fff;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    background-color: #e67e22;
    border-radius: 200px;
    color:#fff;
    border:1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active,
{
    border:1px solid #e67e22;
    color:#fff;
}

/*------- ICONS -------*/

.icon-big {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;

}


.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
/*  secret to align text and icon*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    
}


















